@font-face {
  font-family: "Lover";
  src: url("../font/Lover.otf");
}

@font-face {
  font-family: "UbuntuCondensed-Regular";
  src: url("../font/UbuntuCondensed-Regular.ttf");
}

@font-face {
  font-family: "Gruppo-Regular";
  src: url("../font/Gruppo-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "UbuntuCondensed-Regular", "Gruppo-Regular";
}

:root {
    --clr: rgb(226, 166, 166);
}

body {
  min-height: 100vh;
  background: var(--clr);
}

.menuToggle {
  position: absolute;
  top: 4px;
  right: 10px;
  width: 40px;
  min-height: 40px;
  background: rgb(158, 95, 95);
  border-radius: 2px;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuToggle {
  right: 10px;
}

.menuToggle::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: white;
  transform: translateY(-9px);
  transition: 0.5s;
  box-shadow: 0 9px 0 white;
}

.menuToggle::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: white;
  transform: translateY(9px);
  transition: 0.5s;
}

.menuToggle.active::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 white;
}

.menuToggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

.sidebar {
  position: absolute;
  width: 0px;
  height: 100vh;
  background: rgb(158, 95, 95);
  transition: 0.5s;
  padding-left: 0px;
  overflow: hidden;
}

.sidebar.active {
  width: 250px;
  padding-left: 10px;
}

.sidebar ul {
  position: relative;
  height: 100vh;
}

.sidebar ul li {
  position: relative;
  list-style: none;
}

.sidebar ul li.logo {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sidebar ul li.logo .text {
  font-size: 2.5em;
  font-weight: 500;
  font-family: "Lover";
  color: white;
}

.sidebar ul li a {
  position: relative;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
}

.sidebar ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 50px;
  font-size: 1.5em;
  color: white;
}

.sidebar ul li a .text {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: white;
  padding-left: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.sidebar ul li:hover a .icon,
.sidebar ul li:hover a .text {
  color: rgb(226, 166, 166);
  
}